<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pluto.mapper.ReviewMapper" >
  <resultMap id="BaseResultMap" type="cn.pluto.po.Review" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="thumbs" property="thumbs" jdbcType="INTEGER" />
    <result column="sp" property="sp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, ip, vid, content, thumbs, sp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.pluto.po.ReviewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from review
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.pluto.po.ReviewExample" >
    delete from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.pluto.po.Review" >
    insert into review (rid, ip, vid, 
      content, thumbs, sp
      )
    values (#{rid,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{vid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{thumbs,jdbcType=INTEGER}, #{sp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.pluto.po.Review" >
    insert into review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="thumbs != null" >
        thumbs,
      </if>
      <if test="sp != null" >
        sp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="thumbs != null" >
        #{thumbs,jdbcType=INTEGER},
      </if>
      <if test="sp != null" >
        #{sp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.pluto.po.ReviewExample" resultType="java.lang.Integer" >
    select count(*) from review
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update review
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbs != null" >
        thumbs = #{record.thumbs,jdbcType=INTEGER},
      </if>
      <if test="record.sp != null" >
        sp = #{record.sp,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update review
    set rid = #{record.rid,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      vid = #{record.vid,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      thumbs = #{record.thumbs,jdbcType=INTEGER},
      sp = #{record.sp,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pluto.po.Review" >
    update review
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="thumbs != null" >
        thumbs = #{thumbs,jdbcType=INTEGER},
      </if>
      <if test="sp != null" >
        sp = #{sp,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pluto.po.Review" >
    update review
    set ip = #{ip,jdbcType=VARCHAR},
      vid = #{vid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      thumbs = #{thumbs,jdbcType=INTEGER},
      sp = #{sp,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <resultMap id="ravMap" type="reviewCustom">
      <id property="rid" column="rid" />
      <result column="ip" property="ip" />
      <result column="vid" property="vid" />
      <result column="content" property="content" />
      <result column="thumbs" property="thumbs" />
      <result column="sp" property="sp" />
      <association property="visitor" javaType="visitor">
          <id column="vid" property="vid" />
          <result property="name" column="name" />
          <result property="sex" column="sex" />
          <result property="phone" column="phone" />
          <result property="headpath" column="headpath" />
          <result property="sp" column="sp(1)" />
      </association>
  </resultMap>
  <select id="selectTopNum" parameterType="Integer" resultMap="ravMap">
    select * from review left join visitor v on review.vid = v.vid
  </select>
</mapper>